.recipe-page-container {
  .recipe-image {
    width: 100%;
    height: 72vh;
    object-fit: cover;
    z-index: -1;
  }

  .recipe-content-container {
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    position: relative;

    .recipe-details {
      background: white;
      border-radius: 16px;
      box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.07);
      padding: 1.25rem calc(1.85vw + 0.75rem);
      padding-bottom: 1.5rem;
      margin: -3rem 0 2rem 0;
      box-sizing: border-box;
      z-index: 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;

      h1,
      h3,
      h4 {
        margin: 0;
      }

      h3 {
        font-weight: 300;
        opacity: 0.7;
      }

      h4 {
        font-size: 1rem;
        font-weight: normal;
        opacity: 0.7;
      }

      .title-info {
        h1 {
          line-height: 1.2;
          letter-spacing: -1px;
        }
      }

      .info {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 2rem;

        @media only screen and (max-width: 550px) {
          padding-left: 0;
          margin-left: 0;
          align-items: flex-start;
        }

        .author {
          font-weight: bold;
        }
      }
    }
  }
}

.recipe-image-footer-container {
  margin-top: 2rem;
  overflow: hidden;

  .recipe-image-footer {
    width: calc(100% + 1rem);
    margin: -1rem -2rem -2rem -1rem;
    height: 4rem;
    object-fit: cover;
    filter: blur(2rem) saturate(3);
  }
}
