.nav-container {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.06);

  .nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      color: inherit;
      text-decoration: none;
    }

    .nav-brand {
      font-size: 1.45rem;
    }

    .nav-item-container {
      display: flex;
      flex-direction: row;
      margin-left: auto;

      > * {
        margin-left: 1.25rem;
      }
    }
  }
}
